html,body {
	background-image: url('blur-image.jpg');
	background-attachment: fixed;
	background-size: cover;
    margin:0px;
    height:50vh;

}

.center {
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	
  }

.content{
	margin-top:10%;
}

.center img {
	max-width: 500px;
	max-height: 500px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	
  
}

.center h1 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,1); letter-spacing:1px; text-align: center;  font-size: 50px; }

